<?xml version="1.0"?>
<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find arti_chasi_gazebo)/config/joint_controller_params.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/chasi" args="front_left_wheel_joint_controller front_right_wheel_joint_controller rear_left_wheel_joint_controller rear_right_wheel_joint_controller front_left_hinge_joint_controller front_right_hinge_joint_controller rear_left_hinge_joint_controller rear_right_hinge_joint_controller joint_state_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <!--node name="robot_state_publisher_gazebo_joints" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/chasi/joint_states" />
    </node>-->

</launch>