<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="velodyne_puck_lite">

  <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />

  <link name="velodyne_puck_link">
    <visual>
      <origin xyz="0 0 -0.4"/>
      <geometry>
        <box size="0.1 0.1 0.8" />
      </geometry>
      <material name="arti_black"/>
    </visual>
  </link>

  <gazebo reference="velodyne_puck_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <joint name="velodyne_joint" type="fixed">
    <parent link="payload_plate"/>
    <child link="velodyne_puck_link"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.8"/>
  </joint>

  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="velodyne_puck_link" name="velodyne16" topic="/velodyne_puck_lite" hz="10" samples="440" gpu="${gpu}">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
  </VLP-16>

</robot>
