<?xml version="1.0"?>
<robot name="Chasi_MarkII" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="add_payload" default="false"/>	
  <xacro:arg name="use_sick_mrs1000" default="false"/>	
  <xacro:arg name="use_realsense_d435" default="false"/>	
  <xacro:arg name="use_velodyne_hdl32" default="false"/>	
  <xacro:arg name="use_velodyne_puck_lite" default="false"/>	
  <xacro:arg name="use_ouster_os1_16" default="false"/> 
  <xacro:arg name="use_ouster_os1_32" default="false"/>   
  <xacro:arg name="use_ouster_os1_64" default="false"/>
  <xacro:arg name="use_imu" default="false"/>
  <xacro:arg name="use_gps" default="false"/>

  <xacro:property name="use_sick_mrs1000" value="$(arg use_sick_mrs1000)" />
  <xacro:property name="use_realsense_d435" value="$(arg use_realsense_d435)" />
  <xacro:property name="use_velodyne_hdl32" value="$(arg use_velodyne_hdl32)" />
  <xacro:property name="use_velodyne_puck_lite" value="$(arg use_velodyne_puck_lite)" />
  <xacro:property name="use_ouster_os1_16" value="$(arg use_ouster_os1_16)" />
  <xacro:property name="use_ouster_os1_32" value="$(arg use_ouster_os1_32)" />  
  <xacro:property name="use_ouster_os1_64" value="$(arg use_ouster_os1_64)" />
  <xacro:property name="use_imu" value="$(arg use_imu)" />
  <xacro:property name="use_gps" value="$(arg use_gps)" />

  <xacro:include filename="$(find arti_chasi_mark2)/urdf/arti_chasi_mark2.urdf.xacro" />
  <xacro:Chasi_MarkII
  	add_payload="$(arg add_payload)"
  	use_sick_mrs1000="${use_sick_mrs1000}"
  	use_realsense_d435="${use_realsense_d435}"
  	use_velodyne_hdl32="${use_velodyne_hdl32}"
  	use_velodyne_puck_lite="${use_velodyne_puck_lite}"
    use_ouster_os1_16="${use_ouster_os1_16}"
    use_ouster_os1_32="${use_ouster_os1_32}"    
  	use_ouster_os1_64="${use_ouster_os1_64}"
    use_imu="${use_imu}"
    use_gps="${use_gps}"
  	/>
</robot>